.a-btn {
	padding: 12px 25px;
	font: 500 17px/15px $font-primary;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
	width: 100%;
	box-sizing: border-box;
	&:hover {
		text-decoration: none;
	}
	&[disabled],
	&.is-disabled {
		opacity: .6;
		pointer-events: none;
		cursor: default;
	}
	&.is-primary {
		background: $cl-primary;
		border: none;
		color: $cl-white; 
		transition: background .3s;
		&:hover {
			background: $cl-secondary;
		}
	}
}