.m-logo {
  margin-top: 15px;
  float: left;
  h1 {
    font-family: "Arial";
    
    a {
      color: #fff;
      font-size: 17px;
      font-weight: 700;
      &:hover {
        text-decoration: none;
      }
      span {
        font-family: "Arial";
        font-size: 30px;
        font-weight: 400;  
      }
    }
  }
}