.c-sort {
	clear: both;
	overflow: hidden;
	padding: 5px 0 20px;
	.is-active {
		span {
			position: absolute;
			top: 9px;
			right: 8px;
			display: block;
			@include triangle(down, $cl-white, 5px);
			&.is-asc {
				@include triangle(up, $cl-white, 5px);
			}
		}
	}
}