$cl-white: #fff;
$cl-primary: #355a7c;
$cl-secondary: #f35e1e;
$cl-black: #000;
$cl-grey1: #111;
$cl-grey2: #222;
$cl-grey3: #333;
$cl-grey4: #444;
$cl-grey5: #555;
$cl-grey6: #666;
$cl-grey7: #777;
$cl-grey8: #888;
$cl-grey9: #999;
$cl-greyA: #aaa;
$cl-greyB: #bbb;
$cl-greyC: #ccc;
$cl-greyD: #ddd;
$cl-greyE: #eee;


